.movie-card {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;width: 100%;
  max-width: 1000px;
  margin: 20px auto;

  /* border-radius: 5px;
  height: 30%;
  width: 100x;
  border: 2px solid rgb(159, 145, 145);
  display: flex;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
  transition: transform 0.1s;
  overflow: hidden; */

}
